<div class="navbar">
  <div class="logo">
    <img ngSrc="/Logo_MyMediathek.png" alt="Logo" style="height: 2em; width: 2em" height="484" width="516" routerLink="/"/>
    <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> MyMediathek</h2>
  </div>
  <nav class="navigation">
    <button routerLink="/medium-overview">Medienübersicht</button>
    <button routerLink="/create-medium">Medium hinzufügen</button>
    <button routerLink="/type-overview">Kategorien</button>
  </nav>
</div>
