<!-- Button trigger modal
<button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">
  Details
</button>-->
<!-- Modal -->
<div class="modal fade modal-lg" id="detailsModal" tabindex="-1" aria-labelledby="detailsModal" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detailsModalLabel">{{selectedMedium!.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-medium-details [selectedMedium]="selectedMedium"></app-medium-details>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger" (click)="onDelte(selectedMedium!.id!)">
          Löschen
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [routerLink]="['/edit-medium',selectedMedium!.id]" >Bearbeiten</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
